.all-quotes {
  display: flex;
  height: auto;
  flex-direction: column;
  /* background-color: aquamarine; */
  justify-content: center;
  align-items: center;
}
.add-quote,
.favorites {
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid black;
}
.favorites-div {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card {
  margin-top: 35px;
  background-color: aqua;
  border: 0.5px solid blue;
  border-radius: 10px;
  margin: 20px;
  width: 500px;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 16px;
}
span {
  font-size: 19px;

  font-weight: bolder;
}
.like-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.goto {
  display: flex;
  justify-content: center;
  width: 100%;
}
.edit {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.edit p {
  display: inline;
  font-size: 20px;
}
.edit input {
  outline: none;
  border: 0.5px solid black;
  width: 60%;
  margin: 20px;
}
.edit div {
  width: 100%;
}
.div {
  margin: 50px;
}
